@{
    ViewBag.Title = "Unique and Affordable Clothing, fitness ideas and flawless skin";
}

<div class="container-fluids">
    <div>
        <div class="container-fluids">
            <div class="row IndexPic">
                <img src="~/Content/Images/ffandf.png" class="img-responsive" />
            </div>
        </div>
    </div>
    <div class="row subLayout">

    </div>

    <div>

        @*<div class="container">
            <div>
                @Html.ActionLink("Add Category", "Create", "Categories")
            </div>

            <div>
                @Html.ActionLink("Add SubCategory", "Create", "SubCategories")
            </div>
            <div>
                @Html.ActionLink("Add Item", "Create", "Items")
            </div>
        </div>*@

        <h3>Shop by Season</h3>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6">
                <a href="@Url.Action("DisplayItem", "Items", new { product = "Spring" }, null)">
                    <img src="~/Content/Images/spring.png"
                         class="img-responsive image imgsize" />
                    <div class="caption">
                        Spring
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6">
                <a href="@Url.Action("DisplayItem", "Items", new { product = "Summer" }, null)">
                    <img src="~/Content/Images/summer.png"
                         class="img-responsive image imgsize" />
                    <div class="caption">
                        Summer
                    </div>
                </a>
                
            </div>
            <div class="visible-lg visible-md">
                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Fall" }, null)">
                        <img src="~/Content/Images/fall.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Fall
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Winter" }, null)">
                        <img src="~/Content/Images/winter.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Winter
                        </div>
                    </a>
                    
                </div>
            </div>

        </div>
        <div class="visible-sm visible-xs">
            <div class="col-sm-6 col-sm-6">
                <a href="@Url.Action("DisplayItem", "Items", new { product = "Fall" }, null)">
                    <img src="~/Content/Images/fall.png"
                         class="img-responsive image imgsize" />
                    <div class="caption">
                        Fall
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-sm-6">
                <a href="@Url.Action("DisplayItem", "Items", new { product = "Winter" }, null)">
                    <img src="~/Content/Images/winter.png"
                         class="img-responsive image imgsize" />
                    <div class="caption">
                        Winter
                    </div>
                </a>
            </div>
        </div>

        <h3>SHop by Occasion</h3>

        <div class="visible-lg visible-md">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Casual" }, null)">
                        <img src="~/Content/Images/casual.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Casual
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Swim" }, null)">
                        <img src="~/Content/Images/beach1.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Beach
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Active" }, null)">
                        <img src="~/Content/Images/untitled.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Active
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Party" }, null)">
                        <img src="~/Content/Images/untitled.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Night out
                        </div>
                    </a>
                </div>
            </div>

            
        </div>


        <div class="visible-sm visible-xs">
            <div class="row">
                <div class="col-sm-6 col-sm-6">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Casual" }, null)">
                        <img src="~/Content/Images/casual.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Casual
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-sm-6">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Swim" }, null)">
                        <img src="~/Content/Images/beach1.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Beach
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-6">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Active" }, null)">
                        <img src="~/Content/Images/untitled.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Active
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-sm-6">
                    <a href="@Url.Action("DisplayItem", "Items", new { product = "Party" }, null)">
                        <img src="~/Content/Images/untitled.png"
                             class="img-responsive image imgsize" />
                        <div class="caption">
                            Night out
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>

</div>





@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@